.container {
  display: flex;
  flex-direction: column;
}

.header {
  height: 90px;
  font-family: 'Montserrat';
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid black;
}

.content {
  display: flex;
  height: 100vh;
}
