.content {
  display: flex;
  align-items: center;
  width: 33%;
  padding: 25px 0px 25px 25px;
  margin-right: 27px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 5px;
}

.content:last-child {
  margin: 0;
}

.textContent {
  width: 100%;
  padding-left: 30px;
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

.helper {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.4;
}
