.content {
  padding-top: 112px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.7em;
  color: #474747;
  user-select: none;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  color: #2d2d2d;
  user-select: none;
}

@media (max-width: 479.97px) {
  .content {
    padding-top: 60px;
  }
  .title {
    font-size: 30px;
    padding-top: 12px;
    text-align: center;
  }

  .subTitle {
    font-size: 15px;
  }
}
