.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contentImg {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 250px;
}

.subTitleImg {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.55em;
  color: rgba(255, 255, 255, 0.7);
  user-select: none;
}

.titleImg {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 220px;
  line-height: 305px;
  background: linear-gradient(
      47.06deg,
      #8f8e8e -3.87%,
      rgba(135, 134, 134, 0) 36.89%
    ),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
}

.subTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.7em;
  color: #474747;
  user-select: none;
}

.title {
  padding-top: 27px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  color: #2d2d2d;
  user-select: none;
}
