.container {
  font-family: 'Montserrat';
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list {
  padding-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.listItem {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 3px;
}
