.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.55em;
  color: rgba(255, 255, 255, 0.7);
  user-select: none;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 220px;
  line-height: 305px;
  background: linear-gradient(
      47.06deg,
      #8f8e8e -3.87%,
      rgba(135, 134, 134, 0) 36.89%
    ),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

@media (max-width: 991.98px) {
  .title {
    font-size: 150px;
    line-height: 190px;
  }
}

@media (max-width: 767.68px) {
}

@media (max-width: 479.97px) {
  .title {
    display: none;
    font-size: 55px;
    line-height: 100px;
  }
  .subtitle {
    display: none;
    height: 100%;
    font-size: 15px;
  }
}
