.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: calc(-1 * (100vw - 100%));
}

.active {
  height: 100vh;
  display: block;
  background: linear-gradient(
      181.06deg,
      rgba(0, 0, 0, 0.2) 0.91%,
      rgba(255, 255, 255, 0) 116.71%,
      rgba(255, 255, 255, 0) 116.72%
    ),
    url('/src/assets/resource/Rectangle.jpg') no-repeat center top / cover;
}

.inactive {
  background: #6d6d6d;
}

.main {
  height: 100vh;
  flex: 1 1 auto;
}

.footer {
  padding-top: 55px;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

.titleContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 767.68px) {
  .container {
    max-width: 600px;
  }
}
