.navbar {
  position: relative;
  display: flex;
  align-items: center;
  height: 120px;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #ffffff;
}

.navigationBurger {
  display: none;
}

.activeLink {
  color: white;
  text-decoration: underline;
}

.inactiveLink {
  color: white;
  text-decoration: none;
}

@media (max-width: 767.98px) {
  .navbar {
    height: 60px;
    justify-content: flex-end;
  }
  .navigation {
    flex-direction: column;
    position: absolute;
    top: 120px;
    display: none;
    font-size: 35px;
    transform: translateY(-150%);
    animation: show 1s forwards;
  }
  .navigationBurger {
    display: block;
  }
  .activeLink {
    padding-bottom: 55px;
  }

  .inactiveLink {
    padding-bottom: 55px;
  }
}

@media screen and(max-width: 479.98) {
}

@keyframes show {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
