.calendar {
  width: 312px;
  border-radius: 5px;
}

.calendar__header {
  color: rgba(15, 15, 15, 0.87);
  line-height: 24px;
  font-size: 32px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendarDaysNames {
  font-weight: 600;
  font-size: 18px;
  color: rgba(15, 15, 15, 0.87);
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px 1px;
}

.calendarDays {
  font-size: 16px;
  font-weight: 400;
  color: rgba(15, 15, 15, 0.87);
  text-align: center;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 35px;
}

.calendarDay {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}

.calendar__day:hover {
  background-color: var(--color-additional7);
}

.calendar__additional__day {
  padding: 5.5px;
  font-weight: 300;
  cursor: pointer;
  color: var(--color-placeholder);
}

.calendar__pick__item {
  padding: 9px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.calendar__pick__item:hover {
  background-color: var(--color-additional7);
}

.calendarToday {
  background-color: var(--background-color-calendar-header);
}

.calendarSelected {
  color: var(--color-text);
  background-color: var(--color-additional);
}
.calendar__selected__item:hover {
  background-color: var(--color-additional);
}

.calendar__pick__items__container {
  font-weight: 400;
  color: var(--color-text);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1px 1px;
  font-size: 12px;
}

.calendar__unchoosable__year {
  font-weight: 300;
  padding: 9px 16px;
  color: var(--color-placeholder);
}
