.content {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding-top: 112px;
}
.contentImg {
  width: 700px;
}

.textContent {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: baseline;
  column-gap: 30px;
  row-gap: 30px;
}

.textContentColNum {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #9b9b9b;
}

.textContentTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: capitalize;
  color: #3d3d3d;
}

.textContentDesc {
  text-align: justify;
  padding-top: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #6d6d6d;
}
