.header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      181.06deg,
      rgba(0, 0, 0, 0.2) 0.91%,
      rgba(255, 255, 255, 0) 116.71%,
      rgba(255, 255, 255, 0) 116.72%
    ),
    url('/src/assets/images/Rectangle.jpg') no-repeat center top, #c4c4c4;
}
