.container {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 250px;
  border-right: 1px solid black;
}

.option {
  font-weight: 600;
  font-size: 30px;
  padding: 12px;
}

.optionLink {
  text-decoration: none;
  color: black;
}
