.section {
  display: flex;
  flex-direction: column;
}

.sectionUnit {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.imageContainer {
  position: relative;
  width: 100%;
}

.unitImage {
  width: 100%;
}

.unitContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.unitContentTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  color: #2d2d2d;
  user-select: none;
}

.unitContentText {
  text-align: justify;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #6d6d6d;
}

.unitBtn {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 79px;
  padding-right: 79px;
  color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 5px;
  background: rgba(61, 61, 61, 1);
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .sectionUnit {
    flex-direction: column;
  }
  .unitContent {
    max-width: 100%;
  }
}

@media (max-width: 479.97px) {
  .sectionUnit {
    flex-direction: column;
    padding-top: 45px;
    column-gap: 0;
  }
  .imageContainer {
  }
  .unitImage {
  }
  .unitContent {
    padding-top: 15px;
    max-width: 100%;
    align-items: start;
    row-gap: 15px;
  }
  .unitContentTitle {
    font-size: 23px;
    line-height: 23px;
  }
  .unitContentText {
    font-size: 12px;
    left: 12px;
  }
  .unitBtn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    line-height: 12px;
  }
}
