.container {
  padding-top: 112px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-between;
}

.textField {
  position: relative;
  display: flex;
  flex-direction: column;
}

.textLable {
  position: absolute;
  top: -21px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
  color: #9b9b9b;
}

.contentFields {
  border: 1px solid black;
  border-radius: 3px;
  height: 100%;
}

.contentFields::placeholder {
  padding-left: 22px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
}

.searchBtn {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 79px;
  padding-right: 79px;
  color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 5px;
  background: rgba(61, 61, 61, 1);
  text-transform: uppercase;
}
