.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 45px;
}

.activeLink {
  color: black;
  text-decoration: underline;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgba(109, 109, 109, 1);
}

.inactiveLink {
  color: black;
  text-decoration: underline;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgba(109, 109, 109, 1);
}

@media (max-width: 479.97px) {
  .content {
    flex-direction: column;
  }
  .activeLink {
    padding-top: 15px;
    font-size: 12px;
    line-height: 16px;
  }
  .inactiveLink {
    padding-top: 15px;
    font-size: 12px;
    line-height: 16px;
  }
}

/* .footerNavigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 275px;
  padding-right: 275px;
  padding-bottom: 207px;
}

.footerNavLing {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgba(109, 109, 109, 1);
} */
