$ff: Montsserat
$clo-blue: #007FFF
$clo-grey: #6D6D6D
$tn-placeholder: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms

.textField
    display: flex
    flex-direction: column
    position: relative

.field
    padding: 16px 16px
    border: 1px solid #6D6D6D
    word-spacing: -3px
    text-transform: capitalize
    width: 100%

.field:focus
    outline: 1px solid $clo-blue
    border-radius: 3px

.field::placeholder
    font-family: 'Montsserat'

.error
    position: absolute
    left: 5px
    color: red
    font-size: 16px
    bottom: -21px
    user-select: none
