.datepicker__container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.datepicker__content {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal__content {
  padding: 20px;
  background-repeat: 12px;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  background-color: white;
}

.picker__content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: white;
  top: 120px;
  border: 1px solid black;
  padding: 15px;
}
