.header__controls__modal {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  text-transform: uppercase;
  align-items: center;
}

.header__controls {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  column-gap: 15px;
  width: 100%;
  position: absolute;
}
