.selected {
  background-color: rgba(45, 45, 45, 1);
  padding: 6px;
  color: white;
  border-radius: 3px;
}

.disabled {
  color: grey;
  padding: 6px;
  pointer-events: none;
}

.range {
  padding: 6px;
  color: white;
  background-color: #9b9b9b;
}

.dayCell {
  padding: 6px;
  cursor: pointer;
}

.dayCell:hover {
  outline: 1px solid blue;
  border-radius: 3px;
}

.isBooking {
  pointer-events: none;
  border-radius: 3px;
  padding: 6px;
  color: white;
  background-color: #ff1744;
}
