.selected {
  background-color: rgb(86, 86, 254);
  padding: 6px;
  color: white;
  border-radius: 3px;
}

.disabled {
  color: grey;
  padding: 6px;
  pointer-events: none;
}

.range {
  padding: 6px;
  color: white;
  background-color: rgb(130, 130, 247);
}

.dayCell {
  padding: 6px;
  cursor: pointer;
}

.dayCell:hover {
  outline: 1px solid blue;
  border-radius: 3px;
}
