.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 292px;
  background: linear-gradient(
      47.06deg,
      #929191 -3.87%,
      rgba(255, 255, 255, 0.524) 36.89%
    ),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
