.navBar {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  padding-top: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
